body{
  margin:0;
  background:#0f172a;
  font-family:Inter,Arial;
  color:white;
  display:flex;
  justify-content:center;
  padding:40px 10px;
}

.app{
  width:100%;
  max-width:420px;
  background:#1e293b;
  padding:24px;
  border-radius:16px;
  box-shadow:0 10px 30px rgba(0,0,0,0.5);
  animation:fadeIn .6s ease;
}

@keyframes fadeIn{
  from{opacity:0; transform:translateY(20px);}
  to{opacity:1; transform:none;}
}

.title{
  text-align:center;
  margin-bottom:20px;
}

.input-box{
  display:flex;
  gap:10px;
}

.input-box input{
  flex:1;
  padding:10px;
  border-radius:8px;
  border:none;
  outline:none;
  background:#334155;
  color:white;
}

#addBtn{
  padding:10px 16px;
  border:none;
  background:#3b82f6;
  border-radius:8px;
  color:white;
  font-weight:600;
  cursor:pointer;
  transition:0.2s;
}

#addBtn:hover{
  background:#2563eb;
}

#taskList{
  list-style:none;
  padding:0;
  margin-top:20px;
}

.task{
  background:#0f172a;
  margin-bottom:10px;
  padding:12px;
  border-radius:8px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  animation:slideIn .4s ease;
}

@keyframes slideIn{
  from{opacity:0; transform:translateX(-20px);}
  to{opacity:1; transform:none;}
}

.delete-btn{
  background:#ef4444;
  border:none;
  padding:6px 10px;
  color:white;
  border-radius:6px;
  cursor:pointer;
  transition:0.2s;
}

.delete-btn:hover{
  background:#dc2626;
}